body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, rgb(0, 204, 255), rgb(255, 0, 157))
}

.container {
    font-family: 'Roboto', sans-serif;
    font-size: 12rem;
    font-weight: 100;
    text-align: center;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

span {
    margin: .8rem;
}

